.navbar {
    background: transparent;
    color: white;

    padding: 20px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;

    font-weight: 600;
    font-size: 1.063rem;
    line-height: 1.313rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style: none;
        gap: 3rem;

        color: var(--light);
        
        li {
            position: relative;
            padding: 5px;
        }
        
        li:hover {
            cursor: pointer;
        }
        li:not(:nth-child(1))::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 3px;
            background-color: var(--light);
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        li:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    ul li:nth-child(1),
    li:nth-child(5) {
        margin-right: 7rem;
    }

    button {
        background: var(--primary);

        width: 224px;
        height: 60px;

        font-weight: 700;
        font-size: 0.938rem;
        line-height: 1.125rem;
        text-transform: uppercase;

        color: var(--dark);
        transition: all 0.6s;
    }

    button:hover {
        background: #86d400c1;
    }
}

.mobile_nav {
    display: none;
}

@media (max-width: 1080px) {
    .navbar {
        ul li:nth-child(1),
        li:nth-child(5) {
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        button {  
            display: none;
        }
    }
}

@media (max-width: 650px) {
    .navbar {
        ul {
            li:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5) {
                display: none;
            }
        }
    }

    .mobile_nav {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;

        font-weight: 600;
        font-size: 0.5rem;
        line-height: 0.625rem;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        
        ul {
        display: flex;
        flex-direction: row;     
        gap: 2.5rem;       
        }
        
        li {
            list-style: none;
            padding: 6px 10px;
            color: var(--light);
            background: rgba(103, 103, 103, 0.39);
            border-radius: 50px;
        }
    }
}